body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerChoices {
  padding: 10px;
}

#playagainbutton {
  margin-bottom: 10px;
}

#board {
  display: grid;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box5 box6"
  "box7 box8 box9";
  grid-gap: 5px;
  width: 21vw;
  height: 21vw;
}

.box {
  width: 7vw;
  height: 7vw;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.X {
  background-image: url("https://www.pngkit.com/png/detail/76-760200_big-red-x-red-x-mark-transparent-background.png");
  background-size: 7vw;
}

.O {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/O-Jolle_red.svg/540px-O-Jolle_red.svg.png");
  background-size: 7vw;
}
