body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerChoices {
  padding: 10px;
}

#playagainbutton {
  margin-bottom: 10px;
}

#board {
  display: grid;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box5 box6"
  "box7 box8 box9";
  grid-gap: 5px;
  width: 21vw;
  height: 21vw;
}

.box {
  width: 7vw;
  height: 7vw;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}
